ul,
li {
	list-style: none;
}
img {
	display: block;
}
a {
	text-decoration: none;
}
.portfolio-body {
	position: relative;
	width: 1600px;
	height: 1880px;
	background: #ffffff;
}
/* HEADER */
.header-style {
	border: 1px solid rgba(236, 236, 236, 1);
	position: absolute;
	width: 1600px;
	height: 80px;
	left: 0px;
	top: 0px;
}

.webstudio {
	position: absolute;
	width: 200px;
	height: 31px;
	left: 215px;
	top: 24px;

	font-family: "Raleway", sans-serif;
	font-size: 26px;
	font-weight: 700;
	line-height: 31px;
	letter-spacing: 0.03em;
	text-align: left;
	color: #2196f3;
}

.link:visited {
	color: #212121;
}
.logo-studio {
	color: #000;
	background-color: #ffffff;
}

.studio {
	position: absolute;
	width: 45px;
	height: 16px;
	left: 453px;
	top: 32px;

	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.02em;
	color: #212121;
}

.studio:hover,
.studio:focus {
	color: #2196f3;
	cursor: pointer;
}
.portfolio {
	position: absolute;
	width: 72px;
	left: 548px;
	top: 32px;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.02em;
	color: #212121;
}
.portfolio:hover,
.portfolio:focus {
	color: #2196f3;
	cursor: pointer;
}

.contacts {
	position: absolute;
	width: 64px;
	height: 16px;
	left: 670px;
	top: 32px;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: 14px;
	letter-spacing: 0.02em;
	color: #212121;
}

.contacts:hover,
.contacts:focus {
	color: #2196f3;
	cursor: pointer;
}
.header-contacts:focus,
.header-contacts:hover {
	color: #2196f3;
	cursor: pointer;
}

.mail {
	position: absolute;
	width: 135px;
	height: 16px;
	left: 1078px;
	top: 32px;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.02em;
	color: #757575;
}
.phone {
	position: absolute;
	width: 122px;
	height: 16px;
	left: 1263px;
	top: 32px;

	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.02em;

	color: #757575;
}
/* BODY */
.portfolio-main {
	position: absolute;
	width: 1170px;
	height: 1360px;
}

.button {
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	letter-spacing: 0.03em;
	color: #212121;
	border-radius: 4px;
}
.button:hover,
button:focus {
	background-color: #2196f3;
	color: #fff;
	border-color: #2196f3;
}
.button-all {
	position: absolute;
	width: 73px;
	height: 38px;
	left: 512px;
	top: 174px;
}
.button-veb {
	position: absolute;
	width: 125px;
	height: 38px;
	left: 593px;
	top: 174px;
}
.button-apendix {
	position: absolute;
	width: 112px;
	height: 38px;
	left: 726px;
	top: 174px;
}
.button-designe {
	position: absolute;
	width: 103px;
	height: 38px;
	left: 846px;
	top: 174px;
}
.button-marketing {
	position: absolute;
	width: 130px;
	height: 38px;
	left: 957px;
	top: 174px;
}
.img-title {
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 200%;
	letter-spacing: 0.06em;
	color: #212121;
	padding-left: 30px;
	padding-bottom: 0px;
	margin-bottom: 0pt;
}
.img-type {
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	line-height: 188%;
	letter-spacing: 0.03em;
	color: #757575;
	padding-left: 30px;
	padding-bottom: 30px;
	margin-top: 0px;
}
.tehnokryak {
	box-sizing: border-box;

	position: absolute;
	width: 370px;
	height: 404px;
	left: 215px;
	top: 262px;

	background: #ffffff;
	border: 1px solid #eeeeee;
}
.poster {
	box-sizing: border-box;

	position: absolute;
	width: 370px;
	height: 404px;
	left: 615px;
	top: 262px;

	background: #ffffff;
	border: 1px solid #eeeeee;
}

.seefood {
	box-sizing: border-box;

	position: absolute;
	width: 370px;
	height: 404px;
	left: 1015px;
	top: 262px;

	background: #ffffff;
	border: 1px solid #eeeeee;
}
.prime {
	box-sizing: border-box;

	position: absolute;
	width: 370px;
	height: 404px;
	left: 215px;
	top: 696px;

	background: #ffffff;
	border: 1px solid #eeeeee;
}
.boxes {
	box-sizing: border-box;

	position: absolute;
	width: 370px;
	height: 404px;
	left: 615px;
	top: 696px;

	background: #ffffff;
	border: 1px solid #eeeeee;
}
.inspiration {
	box-sizing: border-box;

	position: absolute;
	width: 370px;
	height: 404px;
	left: 1015px;
	top: 696px;

	background: #ffffff;
	border: 1px solid #eeeeee;
}
.limited-idition {
	box-sizing: border-box;

	position: absolute;
	width: 370px;
	height: 404px;
	left: 215px;
	top: 1130px;

	background: #ffffff;
	border: 1px solid #eeeeee;
}
.lab {
	box-sizing: border-box;

	position: absolute;
	width: 370px;
	height: 404px;
	left: 615px;
	top: 1130px;

	background: #ffffff;
	border: 1px solid #eeeeee;
}
.growing-business {
	box-sizing: border-box;

	position: absolute;
	width: 370px;
	height: 404px;
	left: 1015px;
	top: 1130px;

	background: #ffffff;
	border: 1px solid #eeeeee;
}
/* FOOTER */
.footer {
	position: absolute;
	background: #2f303a;
	width: 1600px;
	height: 252px;
	left: 0px;
	top: 1600px;
}
.webstudio2 {
	position: absolute;
	width: 145px;
	height: 31px;
	left: 215px;
	top: 60px;

	font-family: "Raleway", sans-serif;
	font-size: 26px;
	font-weight: 700;
	line-height: 31px;
	letter-spacing: 0.03em;
	text-align: left;
	color: #2196f3;
	cursor: pointer;
}
.logo-studio2 {
	color: #fff;
	background-color: #2f303a;
}
.address {
	position: absolute;
	width: 231px;
	height: 81px;
	left: 215px;
	top: 111px;
	font-style: normal;
}

.address-ave {
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.03em;
	color: #ffffff;
}

.footer-contacts:hover,
.footer-contacts:focus {
	color: #2196f3;
	cursor: pointer;
}

.mail-footer {
	font-family: "Roboto", sans-serif;
	font-style: normal;
	line-height: 24px;
	letter-spacing: 0.03em;
	color: rgba(255, 255, 255, 0.6);
}
.phone-footer {
	font-family: "Roboto", sans-serif;
	font-style: normal;
	line-height: 24px;
	letter-spacing: 0.03em;
	color: rgba(255, 255, 255, 0.6);
}
