ul,
li {
	list-style: none;
}
img {
	display: block;
}
a {
	text-decoration: none;
}
.portfolio-body {
	background: #ffffff;
}
/* HEADER */
.header-style {
}

.webstudio {
	font-family: "Raleway", sans-serif;
	font-size: 26px;
	font-weight: 700;
	line-height: 31px;
	letter-spacing: 0.03em;
	text-align: left;
	color: #2196f3;
}

.link:visited {
	color: #212121;
}
.logo-studio {
	color: #000;
	background-color: #ffffff;
}

.studio {
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.02em;
	color: #212121;
}

.studio:hover,
.studio:focus {
	color: #2196f3;
}
.portfolio {
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.02em;
	color: #212121;
}
.portfolio:hover,
.portfolio:focus {
	color: #2196f3;
}

.contacts {
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: 14px;
	letter-spacing: 0.02em;
	color: #212121;
}

.contacts:hover,
.contacts:focus {
	color: #2196f3;
}
.header-contacts:focus,
.header-contacts:hover {
	color: #2196f3;
}

.mail {
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.02em;
	color: #757575;
}
.phone {
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.02em;

	color: #757575;
}
/* BODY */
.portfolio-main {
}

.button {
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	letter-spacing: 0.03em;
	color: #212121;
	border-radius: 4px;
}
.button:hover,
button:focus {
	background-color: #2196f3;
	color: #fff;
	border-color: #2196f3;
}
.button-all {
}
.button-veb {
}
.button-apendix {
}
.button-designe {
}
.button-marketing {
}
.img-title {
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 200%;
	letter-spacing: 0.06em;
	color: #212121;
	padding-left: 30px;
	padding-bottom: 0px;
	margin-bottom: 0pt;
}
.img-type {
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	line-height: 188%;
	letter-spacing: 0.03em;
	color: #757575;
	padding-left: 30px;
	padding-bottom: 30px;
	margin-top: 0px;
}
.tehnokryak {
	box-sizing: border-box;

	background: #ffffff;
	border: 1px solid #eeeeee;
}
.poster {
	box-sizing: border-box;

	background: #ffffff;
	border: 1px solid #eeeeee;
}

.seefood {
	box-sizing: border-box;

	background: #ffffff;
	border: 1px solid #eeeeee;
}
.prime {
	box-sizing: border-box;
	background: #ffffff;
	border: 1px solid #eeeeee;
}
.boxes {
	box-sizing: border-box;
	background: #ffffff;
	border: 1px solid #eeeeee;
}
.inspiration {
	box-sizing: border-box;
	background: #ffffff;
	border: 1px solid #eeeeee;
}
.limited-idition {
	box-sizing: border-box;
	background: #ffffff;
	border: 1px solid #eeeeee;
}
.lab {
	box-sizing: border-box;
	background: #ffffff;
	border: 1px solid #eeeeee;
}
.growing-business {
	box-sizing: border-box;
	background: #ffffff;
	border: 1px solid #eeeeee;
}
/* FOOTER */
.footer {
	background: #2f303a;
}
.webstudio2 {
	position: absolute;

	font-family: "Raleway", sans-serif;
	font-size: 26px;
	font-weight: 700;
	line-height: 31px;
	letter-spacing: 0.03em;
	text-align: left;
	color: #2196f3;
}
.logo-studio2 {
	color: #fff;
	background-color: #2f303a;
}
.address {
	font-style: normal;
}

.address-ave {
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.03em;
	color: #ffffff;
}

.footer-contacts:hover,
.footer-contacts:focus {
	color: #2196f3;
}

.mail-footer {
	font-family: "Roboto", sans-serif;
	font-style: normal;
	line-height: 24px;
	letter-spacing: 0.03em;
	color: rgba(255, 255, 255, 0.6);
}
.phone-footer {
	font-family: "Roboto", sans-serif;
	font-style: normal;
	line-height: 24px;
	letter-spacing: 0.03em;
	color: rgba(255, 255, 255, 0.6);
}
