:root {
	--backgraound-main-footer-color: #2f303a;
	--secondary-text-color: #757575;
	--for-button-logo-color: #2196f3;
	--project-boxborder-color: #eeeeee;
	--logo-studio-color: #000000;
	--back-for-button-card-color: #f5f4fa;
	--mainbody-color: #212121;
}

body {
	font-family: "Roboto", sans-serif;
	letter-spacing: 0.03em;
	font-size: 14px;
	background: #ffffff;
	color: var(--mainbody-color);
}

ul,
li {
	list-style: none;
}
img {
	display: block;
}
a {
	text-decoration: none;
}

/*((((((((((((((((((((((( Header styles ))))))))))))))))))))))))))*/

.webstudio {
	font-family: "Raleway", sans-serif;
	font-size: 26px;
	font-weight: 700;
	line-height: 1.19;
	text-align: left;
	color: var(--for-button-logo-color);
	cursor: pointer;
}

.logo-studio {
	color: #000;
	background-color: #ffffff;
}

.studio {
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--mainbody-color);
}

.studio:hover,
.studio:focus {
	color: var(--for-button-logo-color);
}

.portfolio {
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--mainbody-color);
}

.portfolio:hover,
.portfolio:focus {
	color: var(--for-button-logo-color);
}
.current {
	color: var(--for-button-logo-color);
}
.contacts {
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--mainbody-color);
}

.contacts:hover,
.contacts:focus {
	color: var(--for-button-logo-color);
}

.header-contacts:hover,
.header-contacts:focus {
	color: var(--for-button-logo-color);
}

.mail {
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--secondary-text-color);
}
.phone {
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--secondary-text-color);
}
.main-hat {
	background: var(--backgraound-main-footer-color);
}
.main-hat-title {
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: #ffffff;
}
.main-button {
	background: var(--for-button-logo-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	cursor: pointer;
}

.main-button-text {
	font-family: inherit;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	color: #ffffff;
	letter-spacing: 0.06em;
}

.visually-hidden {
	position: absolute;
	white-space: nowrap;
	width: 1px;
	height: 1px;
	overflow: hidden;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	margin: -1px;
}

.our-features-title {
	font-weight: 700;
	line-height: 1.14;
	text-transform: uppercase;
	color: var(--mainbody-color);
	font-size: 14px;
}
.our-features-title-text {
	line-height: 1.71;
	color: var(--secondary-text-color);
}

.what-we-do-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	color: var(--mainbody-color);
}

.team {
	background: var(--back-for-button-card-color);
}
.team-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	color: var(--mainbody-color);
}

.team-co-wockers-box {
	background: #ffffff;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}

.team-co-wockers-name {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
	color: var(--mainbody-color);
}
.team-speciality {
	font-size: 16px;
	line-height: 1.19;

	color: var(--secondary-text-color);
}

/* FOOTER */

.footer {
	background: var(--backgraound-main-footer-color);
}
.webstudio-footer {
	font-family: "Raleway", sans-serif;
	font-size: 26px;
	font-weight: 700;
	line-height: 1.19;
	text-align: left;
	color: var(--for-button-logo-color);
	cursor: pointer;
}
.logo-studio-footer {
	color: #fff;
	background-color: var(--backgraound-main-footer-color);
}
.address {
	font-style: normal;
}

.address-ave {
	line-height: 1.71;
	color: #ffffff;
}

.footer-contacts:hover,
.footer-contacts:focus {
	color: var(--for-button-logo-color);
}

.mail-footer {
	line-height: 1.71;
	color: rgba(255, 255, 255, 0.6);
}
.phone-footer {
	line-height: 1.71;
	color: rgba(255, 255, 255, 0.6);
}

/* (((((((((((((((((((( PORTFOLIO-body )))))))))))))))))))))*/

.header-border {
	border-bottom: 1px solid rgba(236, 236, 236, 1);
}

.button-text {
	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.6;
	text-align: center;
	color: var(--mainbody-color);
	letter-spacing: 0.03em;
	border-radius: 4px;
	cursor: pointer;
	background-color: var(--back-for-button-card-color);
}
.button-text:hover,
.button-text:focus {
	background-color: var(--for-button-logo-color);
	color: #fff;
	border-color: var(--for-button-logo-color);
}

.img-title {
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	color: var(--mainbody-color);
}
.img-type {
	font-size: 16px;
	line-height: 1.88;
	color: var(--secondary-text-color);
}
.project-boxes {
	box-sizing: border-box;
	background: #ffffff;
	border: 1px solid var(--project-boxborder-color);
}
